.devices-container {
	margin-top: 24px;

	&__sub-title {
		background: linear-gradient(270deg, $color-main 0%, white 98.61%);
		
		@media (min-width: 768px) {
			background: linear-gradient(90deg, $color-main 1.39%, white 100%);
		}
	}

	&__navigation {
		overflow: hidden;
		padding: 16px;
		padding-right: 0;
		display: flex;

		@media (min-width: 768px) {
			padding: 24px;
		}

		@media (min-width: 1120px) {
			padding: 24px 32px;
		}

		&::after {
			content: "";
			display: block;
			width: 24px;
			height: 160px;
			margin-left: calc(100vw - 24px - 16px);
			z-index: 1;
			position: absolute;
			background: linear-gradient(270deg, $color-main 16.84%, rgba(248, 248, 248, 0.0001) 100%);

			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__list {
		list-style-type: none;
		color: $color-main-text;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;

		@media (min-width: 768px) {
				display: flex;
				height: 160px;
				flex-wrap: wrap;
				overflow: hidden;
				row-gap: 16px;
				column-gap: 24px;
				justify-content: space-between;
		}
		
		@media (min-width: 1120px) {
			column-gap: 32px;
		}
		
		&::after {

			@media (min-width: 1016px) {
				content: "";
				width: 224px;
				height: 160px;
				background-color: transparent;
			}

			@media (min-width: 1120px) {
				width: 240px;
				height: 160px;
			}

		}

		&::before {
			
			@media (min-width: 1016px) {
				content: "";
				display: block;
				width: 224px;
				height: 160px;
				order: 1;
			}

			@media (min-width: 1120px) {
				width: 240px;
				height: 160px;
			}
			
		}

		.devices-container__item {
			width: 240px;
			height: 160px;
		
			@media (min-width: 768px) {
				width: 224px;
			}
			@media (min-width: 1120px) {
				width: 240px;
			}
		}

		/*Кнопка показать-скрыть*/
		&--opened {
			@media (min-width: 768px) {
				height: auto;
			}
		}
	}

	&__item{
		@media (min-width: 768px) {
			width: 224px;
		}
		
		@media (min-width: 1120px) {
			width: 240px;
		}

		&:last-child {
			padding-right: 16px;
	
			@media (min-width: 768px) {
				padding-right: 0;
			}
		}
	}
	
	&__card {
		display: flex;
		justify-content: space-between;
		width: 240px;
		height: 160px;
		background-color: white;
		border: 1px solid $color-border-cards;
		border-radius: 6px;
		padding: 16px;
		box-sizing: border-box;
		
		@media (min-width: 768px) {
			width: 224px;
		}

		@media (min-width: 1120px) {
			width: 240px;
		}
	}
}


	
	