.feedback-container{
	display: none;
	width: 320px;
	height: 100vh;
	box-shadow: 0 0 52px rgba(14, 24, 80, 0.2);
	background-color: white;
	overflow: auto;

	@media (min-width: 360px) {
		width: 360px;
	}

	@media (min-width: 768px) {
		width: 320px;		
	}

	@media (min-width: 1440px) {
		width: 440px;	
		overflow: visible;	
	}

	&--chat-pressed{
		display: block;
		position: fixed;
		z-index: 21;
		left: 0;
		top: 0;
		margin-right: calc((100vw - 1440px)/2);

		@media (min-width: 1440px) {
			left: auto;
			right: 0;
			top: 0;		
		}
	}

	.btn--icon-close {
		@media (min-width: 1440px) {
			position: absolute;
			margin-left: -70px;
			margin-top: 40px;
		}
	}
}