.main {

	&__description-container {

		@media (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin: 32px 24px;
		}
		@media (min-width: 1120px) {
			margin: 19px 29px 19px 32px;
		}
	}
}











