$color-main:      #F8F8F8; // основной цвет фона


$color-elements:   		  #FF3E79; // цвет элементов
$color-secondary-elements:#41F6D7; // дополнительный цвет элементов
$color-border-active:	  #B8FFEC; // цвет рамок при наведении-фокусе
$color-separator: 		  #D9FFF5; // цвет разделительных линий-рамок
$color-bullet: 			  #B5B6BC; // цвет элементов пагинации (буллетов)
$color-border-cards:	 	  #EAEAEA; // цвет рамок карточек


$color-main-text:      #1B1C21; // основной цвет текста
$color-secondary-text: #7E7E82; // дополнительный цвет текста